header {
  background: #d2edf4 linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
}

.app-header {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-bar {
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 1.5em;
    display: inline-block;
    margin: 0 1em 0 0;
  }
}
